<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="split left">
        <div class="centered">
            <h2>Login</h2>
            <p>Enter your personnal info</p>

        </div>
    </div>
    <div class="split right">
        <div class="top-right">
            <h1 class="welcome">Welcome to</h1>
            <h1 class="portal">student portal</h1>
            <p class="login">Login to access your account</p>
        </div>
    </div>
</body>
</html>
